body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid gray;
    margin: 8px 8px 0 0;
    cursor: pointer;
    background-size: cover;
}
#startGame{
    outline: none;
    cursor: pointer;
    font-family: fantasy;
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    background: rgb(255, 255, 255);
    background: linear-gradient(40deg, rgba(227 132 220) 0%, rgba(247,180,213,1) 63%, rgba(255,255,255,0.9976365546218487) 100%);
}
#startGame:hover{
    border: 1px solid gray;
    background: rgb(255, 255, 255);
    background: linear-gradient(40deg, rgba(255,255,255,0.9976365546218487) 0%, rgba(247,180,213,1) 63%,rgba(227 132 220) 100%);
}

#board {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

#controlPanel {
    display: flex;
    font-size: 20px;
    align-items: center;
}

#scoreOutput {
    margin-left: 20px;
    font-family: fantasy;
}